Repository gortibaldik/wedding_planning: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Add rickroll to the czech version of the page
  .gitignore
  backend/i18n/ru.json
  backend/i18n/sk.json
  backend/templates/landing.html
  frontend/public/landing.css
  frontend/src/landing.scss
Due: prettier --write

fix: Do not wrap Frantisek
  frontend/public/landing.css
  frontend/src/landing.scss
Due: prettier --write

refactor: Move index to separate router
  backend/main.py
  backend/routers/index/__init__.py
  backend/routers/index/geo_utils.py
  backend/routers/index/i18n/cs.json
  backend/routers/index/i18n/ru.json
  backend/routers/index/i18n/sk.json
  backend/routers/index/index.py
  backend/routers/index/templates/landing.html
  backend/routers/utils/__init__.py
  pyproject.toml
Due: prettier --write

refactor: Remove warning log
  backend/routers/invitation_lists.py
Due: none

feat: Use google drive as CMS storage
  .env.example
  .gitignore
  backend/config.py
  backend/dependencies.py
  backend/drive.py
  backend/main.py
  backend/routers/index/__init__.py
  backend/routers/index/i18n/cs.json
  backend/routers/index/i18n/ru.json
  backend/routers/index/i18n/sk.json
  backend/routers/index/index.py
  pyproject.toml
  tools/encode_credentials.py
Due: prettier --write

fix: Fix paths to frontend and geo location data
  backend/routers/index/country_data.mmdb
  backend/routers/index/index.py
Due: none

refactor: Remove warning log from final lists
  backend/routers/invitation_lists.py
Due: none

feat: Export logs to better stack
  README.md
  backend/main.py
  backend/routers/index/index.py
  pyproject.toml
Due: prettier --write

feat: Add CMS to the authorized app
  backend/drive.py
  backend/main.py
  backend/routers/authorization.py
  backend/routers/managed_files.py
  frontend/src/components/AuthenticatedApp.vue
  frontend/src/components/ManagedFilesEditor.vue
  frontend/src/components/ManagedFilesNodeEditor.vue
  frontend/src/composables/useManagedFiles.ts
  frontend/vite.config.js
Due: eslint --fix, prettier --write

feat: Reorder sections, markdownify
  backend/routers/index/index.py
  backend/routers/index/templates/landing.html
  frontend/package-lock.json
  frontend/src/components/ManagedFilesEditor.vue
  frontend/src/components/ManagedFilesNodeEditor.vue
  frontend/src/composables/useManagedFiles.ts
  pyproject.toml
Due: eslint --fix, prettier --write

style: Make CMS sections collapsible
  frontend/src/components/ManagedFilesNodeEditor.vue
Due: eslint --fix, prettier --write

feat: Finish the games management page
  backend/routers/index/index.py
  backend/routers/index/templates/games.html
  backend/routers/index/templates/landing.html
  frontend/public/landing.css
  frontend/src/components/ManagedFilesNodeEditor.vue
  frontend/src/composables/useManagedFiles.ts
  frontend/src/landing.scss
  frontend/vite.config.js
Due: eslint --fix, prettier --write

feat: Add tacking and crossing in the cross-wind
  backend/routers/index/templates/games.html
Due: prettier --write

style: Add stylings for markdown
  frontend/public/landing.css
  frontend/src/landing.scss
Due: prettier --write

feat: Add games.html with the sailing game
  backend/routers/index/templates/games.html
Due: prettier --write

feat: Add coming / not-coming filter
  frontend/src/components/FinalListView.vue
Due: eslint --fix, prettier --write

feat: Dump the redis database
  backend/config.py
  backend/routers/authorization.py
  backend/routers/managed_files.py
  frontend/src/components/ManagedFilesEditor.vue
  frontend/src/composables/useManagedFiles.ts
Due: eslint --fix, prettier --write

feat: Add first version of the finance tracking app
  backend/config.py
  backend/main.py
  backend/routers/authorization.py
  backend/routers/finance.py
  frontend/src/components/AuthenticatedApp.vue
  frontend/src/components/Finance/BarChart.vue
  frontend/src/components/Finance/FinanceComponent.vue
  frontend/src/components/Finance/LineChart.vue
  frontend/src/components/Finance/PieChart.vue
  frontend/src/composables/useFinance.ts
  frontend/vite.config.js
Due: eslint --fix, prettier --write

feat: Add easy split by categories
  frontend/src/components/Finance/FinanceComponent.vue
  frontend/src/components/Finance/LineChart.vue
  frontend/src/composables/useFinance.ts
Due: eslint --fix, prettier --write

feat: Import data from revolut xlsx export
  backend/routers/finance.py
  backend/routers/utils/revolut.py
  frontend/src/components/Finance/FinanceComponent.vue
  frontend/src/composables/useFinance.ts
  tools/fix_revolut_encoding.py
Due: eslint --fix, prettier --write

feat: Edit item from the list menu in finances
  frontend/src/components/Finance/FinanceComponent.vue
  frontend/src/composables/useFinance.ts
  pyproject.toml
Due: eslint --fix, prettier --write

feat: Prefer start date over completion date
  backend/routers/finance.py
Due: none

refactor: Split the finance component into subtabs
  frontend/src/components/Finance/FinanceComponent.vue
  frontend/src/components/Finance/finance.css
  frontend/src/components/Finance/tabs/BreakdownTab.vue
  frontend/src/components/Finance/tabs/ImportTab.vue
  frontend/src/components/Finance/tabs/ItemsTab.vue
  frontend/src/components/Finance/tabs/TrendsTab.vue
  frontend/src/composables/useFinanceSubTabs.ts
Due: eslint --fix, prettier --write

feat: Parse account statements in English and Czech
  backend/routers/finance.py
  backend/routers/utils/revolut.py
Due: none

feat: Add pagination
  frontend/src/components/Finance/FinancePager.vue
  frontend/src/components/Finance/tabs/ImportTab.vue
  frontend/src/components/Finance/tabs/ItemsTab.vue
  frontend/src/composables/usePagination.ts
Due: eslint --fix, prettier --write

feat: Add deposits to the app
  backend/routers/finance.py
  frontend/src/components/Finance/finance.css
  frontend/src/components/Finance/tabs/BreakdownTab.vue
  frontend/src/components/Finance/tabs/ImportTab.vue
  frontend/src/components/Finance/tabs/ItemsTab.vue
  frontend/src/components/Finance/tabs/TrendsTab.vue
  frontend/src/composables/useFinance.ts
Due: eslint --fix, prettier --write

refactor: Move FinalList logic into useInvitationLists
  frontend/src/components/FinalListView.vue
  frontend/src/composables/useInvitationLists.ts
Due: eslint --fix, prettier --write

feat: For final list id, fetch everything at once
  backend/routers/invitation_lists.py
Due: none

feat: Update the logic of InvitationListsManager for final badge
  frontend/src/components/InvitationListsManager.vue
  frontend/src/composables/useInvitationLists.ts
Due: eslint --fix, prettier --write

feat: Display final list badge near people details
  frontend/src/components/InvitationListsManager.vue
  frontend/src/components/PersonInfoDisplay.vue
  frontend/src/composables/useInvitationLists.ts
Due: eslint --fix, prettier --write

style: Fix the overflow issues in the seating arrangement
  frontend/src/components/PersonInfoDisplay.vue
  frontend/src/components/SeatingArrangement/TableNode.vue
Due: eslint --fix, prettier --write

style: On final list view, do not display the rsvp badge
  frontend/src/components/FinalListView.vue
  frontend/src/components/PersonInfoDisplay.vue
Due: eslint --fix, prettier --write

fix: Let just allowed users to connect to the app
  backend/config.py
  backend/routers/authorization.py
Due: none

feat: Allow the super user to delete lists of others
  backend/routers/invitation_lists.py
  docker-compose.yml
  frontend/src/components/InvitationListsManager.vue
Due: eslint --fix, prettier --write

refactor: Update genealogy tree status logic
  backend/routers/family_structure.py
  frontend/src/components/GenealogyTree/GenealogyTreeEditMenu.vue
Due: eslint --fix, prettier --write

fix: Fetch the invitation lists at the import time, keep sidebar collapsed
  frontend/src/components/GenealogyTree/GenealogyTree.vue
  frontend/src/composables/useSidebarState.js
Due: eslint --fix, prettier --write

feat: Create accomodation model for final invitation list
  backend/routers/invitation_lists.py
Due: none

feat: Add accomodation subtab to the final lists tab
  frontend/src/components/AuthenticatedApp.vue
  frontend/src/components/FinalList/FinalListSection.vue
  frontend/src/components/FinalList/FinalListView.vue
  frontend/src/components/FinalList/finalList.css
  frontend/src/components/FinalList/tabs/AccommodationTab.vue
  frontend/src/components/FinalList/tabs/InvitationsTab.vue
  frontend/src/components/FinalListView.vue
  frontend/src/composables/useFinalListGrouping.ts
  frontend/src/composables/useFinalListSubTabs.ts
  frontend/src/composables/useInvitationLists.ts
Due: eslint --fix, prettier --write

feat: Make root group sections collapsible
  frontend/src/components/FinalList/RootGroupSection.vue
  frontend/src/components/FinalList/finalList.css
  frontend/src/components/FinalList/tabs/AccommodationTab.vue
  frontend/src/components/FinalList/tabs/InvitationsTab.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,css,html})
