Repository gortibaldik/wedding_planning: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

h-refactor: Refactor useBaseGraph to a component
  src/App.vue
  src/components/GenealogyTree.vue
  src/components/PersonNode.vue
  src/components/TableSeating.vue
  src/composables/useBaseGraph.ts
  src/composables/useGenealogyData.js
  src/composables/useGenealogyData.ts
Due: eslint --fix, prettier --write

feat: Add group-role children
  src/components/GenealogyTree.vue
  src/composables/useBaseGraph.ts
  src/composables/useGenealogyData.ts
Due: eslint --fix, prettier --write

feat: Create first draft of multi-person node
  src/App.vue
  src/components/GenealogyTree.vue
  src/components/PersonNode.vue
  src/composables/useGenealogyData.ts
Due: eslint --fix, prettier --write

feat: Create a name for multi-person node
  src/components/GenealogyTree.vue
  src/components/PersonNode.vue
  src/components/TableSeating.vue
  src/composables/useGenealogyData.ts
Due: eslint --fix, prettier --write

feat: Add group name badges
  src/App.vue
  src/components/PersonNode.vue
  src/components/TableSeating.vue
  src/composables/useGenealogyData.ts
Due: eslint --fix, prettier --write

feat: Invite full subtree feature
  src/components/GenealogyTree.vue
  src/components/PersonNode.vue
  src/composables/useBaseGraph.ts
  src/composables/useGenealogyData.ts
Due: eslint --fix, prettier --write

fix: Fix the uninvited people not being removed from tables bug
  src/App.vue
Due: eslint --fix, prettier --write

fix: Invite subtree changed from checkbox to a button
  src/components/PersonNode.vue
Due: eslint --fix, prettier --write

h-fix: Resolve collisions with other branches
  src/composables/useBaseGraph.ts
Due: eslint --fix, prettier --write

refactor: Refactor PersonNode to three subnodes and base node for better readability
  src/App.vue
  src/components/GenealogyTree.vue
  src/components/PersonNode.vue
  src/components/TableSeating.vue
  src/components/nodes/GroupNode.vue
  src/components/nodes/MultiPersonNode.vue
  src/components/nodes/NodeBase.vue
  src/components/nodes/PersonNode.vue
  src/composables/useGenealogyData.ts
Due: eslint --fix, prettier --write

feat: Add invitation list (each person can invite somebody else)
  src/App.vue
  src/components/InvitationListDropdown.vue
  src/components/nodes/MultiPersonNode.vue
  src/components/nodes/PersonNode.vue
  src/composables/useGenealogyData.ts
  src/composables/useInvitationLists.ts
  src/composables/useTableSeating.js
Due: eslint --fix, prettier --write

feat: Edit person in form
  src/components/GenealogyTree.vue
Due: eslint --fix, prettier --write

refactor: Move multi-person modal to the multi-person node
  src/components/GenealogyTree.vue
  src/components/nodes/MultiPersonNode.vue
Due: eslint --fix, prettier --write

style: Change default table capacity to 10
  src/composables/useTableSeating.js
Due: eslint --fix, prettier --write

style: Add hint that table name can be changed by double click
  src/components/TableSeating.vue
Due: eslint --fix, prettier --write

feat: Add assign to table button
  src/App.vue
Due: eslint --fix, prettier --write

test: Create first test and resolve the MultiPersonNode toggle bug
  package-lock.json
  package.json
  src/components/nodes/MultiPersonNode.vue
  src/components/nodes/__tests__/MultiPersonNode.spec.js
  src/composables/useGenealogyData.ts
  vite.config.js
Due: eslint --fix, prettier --write

fix: Fix bug in computed tables property
  src/App.vue
Due: eslint --fix, prettier --write

chore: Add README with run instructions
  README.md
Due: prettier --write

refactor: Move sidebars to separate components
  src/App.vue
  src/components/GenealogyTreeSidebar.vue
  src/components/TableSeatingSidebar.vue
Due: eslint --fix, prettier --write

h-refactor: Change name of variable to activeInvitationListId
  src/composables/useInvitationLists.ts
Due: eslint --fix, prettier --write

h-chore: Remove debug logs
  src/components/nodes/MultiPersonNode.vue
  src/composables/useGenealogyData.ts
Due: eslint --fix, prettier --write

style: Fix styling issue with delete button
  src/components/TableSeating.vue
Due: eslint --fix, prettier --write

feat: Prepare the app for deployment in Docker image
  .gitignore
  .husky/pre-commit
  Dockerfile
  backend/__pycache__/main.cpython-312.pyc
  backend/main.py
  backend/requirements.txt
  frontend/.lintstagedrc.json
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.vue
  frontend/src/assets/vue.svg
  frontend/src/components/GenealogyTree.vue
  frontend/src/components/GenealogyTreeSidebar.vue
  frontend/src/components/InvitationListDropdown.vue
  frontend/src/components/TableSeating.vue
  frontend/src/components/TableSeatingSidebar.vue
  frontend/src/components/nodes/GroupNode.vue
  frontend/src/components/nodes/MultiPersonNode.vue
  frontend/src/components/nodes/NodeBase.vue
  frontend/src/components/nodes/PersonNode.vue
  frontend/src/components/nodes/__tests__/MultiPersonNode.spec.js
  frontend/src/composables/useBaseGraph.ts
  frontend/src/composables/useGenealogyData.ts
  frontend/src/composables/useInvitationLists.ts
  frontend/src/composables/useLocalStorage.ts
  frontend/src/composables/useSidebarState.js
  frontend/src/composables/useTableSeating.js
  frontend/src/main.js
  frontend/src/style.css
  frontend/tsconfig.json
  frontend/vite.config.js
  package.json
Due: eslint --fix, prettier --write

h-feat: Use exec to forward port environment variable
  Dockerfile
  start.sh
Due: none

h-doc: Update README.md with deployment instructions
  README.md
Due: prettier --write

feat: Add authorization through google
  .env.example
  .gitignore
  Dockerfile.frontend.dev
  README.md
  backend/.gitignore
  backend/__pycache__/main.cpython-312.pyc
  backend/main.py
  backend/requirements.txt
  docker-compose.yml
  frontend/src/App.vue
  frontend/src/components/LoginScreen.vue
  frontend/src/composables/useAuth.ts
  frontend/vite.config.js
Due: eslint --fix, prettier --write

h-feat: Allow running without authorization on local
  README.md
  frontend/src/App.vue
  frontend/src/composables/useAuth.ts
Due: eslint --fix, prettier --write

build: Remove .env.local from Dockerfile, add instros on adding env variables
  Dockerfile
  README.md
Due: prettier --write

h-feat: Use pydantic settings for managing config
  backend/__init__.py
  backend/config.py
  backend/dependencies.py
  backend/main.py
  backend/requirements.txt
Due: none

h-refactor: Move authorization to separate source
  backend/main.py
  backend/routers/__init__.py
  backend/routers/authorization.py
Due: none

h-refactor: Add pre-commit hooks for python
  .husky/pre-commit
  .pre-commit-config.yaml
  Dockerfile
  backend/config.py
  backend/main.py
  backend/requirements.txt
  backend/routers/authorization.py
  pyproject.toml
Due: none

feat: Add redis-saving methods
  backend/config.py
  backend/dependencies.py
  backend/main.py
  backend/routers/invitation_lists.py
  pyproject.toml
Due: none

feat: Save everything from FE to redis
  backend/main.py
  backend/routers/invitation_lists.py
  docker-compose.yml
  frontend/src/App.vue
  frontend/src/composables/useInvitationLists.ts
  frontend/vite.config.js
  start.sh
Due: eslint --fix, prettier --write

feat: Move all the data to single source of truth -> invitation lists
  backend/routers/invitation_lists.py
  frontend/src/App.vue
  frontend/src/components/AuthenticatedApp.vue
  frontend/src/composables/useGenealogyData.ts
  frontend/src/composables/useInvitationLists.ts
  frontend/src/composables/useTableSeating.js
Due: eslint --fix, prettier --write

refactor: Refactor everything to a single source of truth for the data
  frontend/eslint.config.js
  frontend/src/assets/styles/modal.css
  frontend/src/components/AuthenticatedApp.vue
  frontend/src/components/GenealogyTree/GenealogyTree.vue
  frontend/src/components/GenealogyTree/GenealogyTreeAddModal.vue
  frontend/src/components/GenealogyTree/GenealogyTreeSidebar.vue
  frontend/src/components/nodes/GroupNode.vue
  frontend/src/components/nodes/MultiPersonNode.vue
  frontend/src/components/nodes/NodeBase.vue
  frontend/src/components/nodes/PersonNode.vue
  frontend/src/composables/useBaseGraph.ts
  frontend/src/composables/useGenealogyData.ts
  frontend/src/composables/useInvitationLists.ts
  frontend/src/composables/useStoredData.ts
Due: eslint --fix, prettier --write

feat: Reintroduce invite all subtree
  frontend/src/components/AuthenticatedApp.vue
  frontend/src/components/GenealogyTree/GenealogyTree.vue
  frontend/src/components/nodes/GroupNode.vue
  frontend/src/components/nodes/MultiPersonNode.vue
  frontend/src/components/nodes/PersonNode.vue
  frontend/src/composables/useBaseGraph.ts
  frontend/src/composables/useGenealogyData.ts
Due: eslint --fix, prettier --write

feat: Save family structure in other redis key than the invitation data
  backend/main.py
  backend/routers/family_structure.py
  backend/routers/invitation_lists.py
  backend/routers/utils/compression.py
  frontend/src/components/GenealogyTree/GenealogyTree.vue
  frontend/src/components/nodes/GroupNode.vue
  frontend/src/components/nodes/MultiPersonNode.vue
  frontend/src/components/nodes/PersonNode.vue
  frontend/src/composables/useAuth.ts
  frontend/src/composables/useBackendStorage.ts
  frontend/src/composables/useInvitationLists.ts
  frontend/src/composables/useStoredData.ts
  frontend/vite.config.js
Due: eslint --fix, prettier --write

fix: Load the data only after authorization
  frontend/package-lock.json
  frontend/src/App.vue
  frontend/src/components/AuthenticatedApp.vue
  frontend/src/composables/useStoredData.ts
  package-lock.json
Due: eslint --fix, prettier --write

feat: Add read-only for genealogy tree
  frontend/src/components/GenealogyTree/GenealogyTree.vue
  frontend/src/components/nodes/GroupNode.vue
  frontend/src/components/nodes/MultiPersonNode.vue
  frontend/src/components/nodes/NodeBase.vue
  frontend/src/components/nodes/PersonNode.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,css,html})
