Repository gortibaldik/wedding_planning: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Add filtering by notes state
  frontend/src/components/FinalList/tabs/InvitationsTab.vue
Due: eslint --fix, prettier --write

feat: Edit hotels
  frontend/src/components/FinalList/finalList.css
  frontend/src/components/FinalList/tabs/AccommodationTab.vue
  frontend/src/composables/useInvitationLists.ts
Due: eslint --fix, prettier --write

feat: Delete hotels
  backend/routers/invitation_lists.py
  frontend/src/components/FinalList/finalList.css
  frontend/src/components/FinalList/tabs/AccommodationTab.vue
  frontend/src/composables/useInvitationLists.ts
Due: eslint --fix, prettier --write

feat: Add copy item option
  frontend/src/components/Finance/tabs/ItemsTab.vue
Due: eslint --fix, prettier --write

refactor: Move games page from backend template to Vite entry
  backend/routers/index/index.py
  backend/routers/index/templates/games.html
  frontend/games.html
  frontend/vite.config.js
Due: eslint --fix, prettier --write

refactor: Put physics to single place
  backend/routers/index/templates/games.html
Due: prettier --write

feat: Make the game endless to the right
  backend/routers/index/templates/games.html
Due: prettier --write

feat: Add thrust debug print
  backend/routers/index/templates/games.html
Due: prettier --write

feat: Add lift-drag speed model
  backend/routers/index/templates/games.html
Due: prettier --write

feat: Refactor the game to a Vue.js component
  frontend/games.html
  frontend/src/games/GamesApp.vue
  frontend/src/games/main.ts
  frontend/src/games/sailing/SailingGame.vue
  frontend/src/games/sailing/physics.ts
  frontend/src/games/sailing/render.ts
  frontend/src/games/sailing/types.ts
  frontend/src/games/sailing/world.ts
  frontend/src/vue-shims.d.ts
Due: eslint --fix, prettier --write

feat: Prepare for mobile usage
  frontend/src/games/sailing/SailingGame.vue
  frontend/src/games/sailing/TouchControls.vue
  frontend/src/games/sailing/__tests__/SailingGame.mobile.spec.ts
  frontend/src/games/sailing/__tests__/TouchControls.spec.ts
  frontend/src/games/sailing/__tests__/useImmersive.spec.ts
  frontend/src/games/sailing/useImmersive.ts
Due: eslint --fix, prettier --write

tools: Extract google meeting transcript
  tools/extract_meet_transcript.py
Due: none

feat: Share documents about the wedding into the page
  CLAUDE.md
  backend/config.py
  backend/main.py
  backend/routers/authorization.py
  backend/routers/documents.py
  frontend/src/components/AuthenticatedApp.vue
  frontend/src/components/Documents/DocumentLinkRow.vue
  frontend/src/components/Documents/DocumentSectionCard.vue
  frontend/src/components/Documents/DocumentsView.vue
  frontend/src/components/Documents/documents.css
  frontend/src/composables/useDocuments.ts
  frontend/vite.config.js
Due: eslint --fix, prettier --write

feat: Allow other types of documents
  frontend/src/components/Documents/DocumentLinkRow.vue
  frontend/src/components/Documents/DocumentSectionCard.vue
  frontend/src/components/Documents/documents.css
  frontend/src/composables/useDocuments.ts
Due: eslint --fix, prettier --write

fix: Change handling of bounds around tables
  frontend/src/components/SeatingArrangement/SeatingCanvas.vue
  frontend/src/composables/useSeatingData.ts
Due: eslint --fix, prettier --write

feat: Do not drag guests on two finger zoom pinch
  frontend/src/components/SeatingArrangement/SeatingCanvas.vue
  frontend/src/composables/useTouchDragDrop.ts
Due: eslint --fix, prettier --write

fix: Fix snapshot handling
  frontend/src/composables/useSeatingData.ts
Due: eslint --fix, prettier --write

feat: Move by pressing anywhere on the table surface
  frontend/src/components/SeatingArrangement/SeatingCanvas.vue
  frontend/src/components/SeatingArrangement/TableNode.vue
Due: eslint --fix, prettier --write

refactor: fix: Fix dragging and refactor to composable
  frontend/src/components/SeatingArrangement/SeatingCanvas.vue
  frontend/src/composables/useSeatingCanvasGestures.ts
Due: eslint --fix, prettier --write

fix: Fix the highlighted border of the circle
  frontend/src/components/SeatingArrangement/TableNode.vue
Due: eslint --fix, prettier --write

feat: Allow changes of order in the managed files
  frontend/src/components/ManagedFilesEditor.vue
  frontend/src/components/ManagedFilesNodeEditor.vue
  frontend/src/composables/__tests__/useManagedFiles.spec.ts
  frontend/src/composables/useManagedFiles.ts
Due: eslint --fix, prettier --write

refactor: Divide loading from management of files
  frontend/src/components/AuthenticatedApp.vue
  frontend/src/components/ManagedFiles/ManagedFilesCms.vue
  frontend/src/components/ManagedFiles/ManagedFilesDatabase.vue
  frontend/src/components/ManagedFiles/ManagedFilesNodeEditor.vue
  frontend/src/components/ManagedFiles/ManagedFilesView.vue
  frontend/src/components/ManagedFiles/managedFiles.css
  frontend/src/components/ManagedFilesEditor.vue
  frontend/src/composables/__tests__/useManagedFiles.spec.ts
  frontend/src/composables/useFinanceSubTabs.ts
  frontend/src/composables/useManagedFiles.ts
Due: eslint --fix, prettier --write

build: Update the release script to release the current dockerfile instead of the main one
  release.sh
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,css,html})
